<div class="action-bar">
  <div class="flex-section">
    <th-checkbox
      ng-model="actionBar.delegate.results.isCurrentPageSelected"
      ng-change="actionBar.toggleAll()"
      with-label="Select Page"
      ng-disabled="actionBar.delegate.results.processing"
      >
    </th-checkbox>
    <div class="action-menu" ng-if="actionBar.delegate.results.selectedItemCount > 0">
      <div class="action-text">
        <span ng-if="actionBar.hasMultiplePages()">
          (<span class="selected-items-text">
            <strong>{{actionBar.delegate.results.selectedItemCount}}</strong>
              {{actionBar.itemName | pluralize: actionBar.delegate.results.selectedItemCount}} selected.
           </span>
          <a
            ng-class="{disabled: actionBar.delegate.results.processing}"
            ng-click="actionBar.selectEntirety()"
            >
            Select all {{actionBar.delegate.results.totalItemCount}}
            {{actionBar.itemName | pluralize: actionBar.delegate.results.totalItemCount}}
          </a> or
          <a
            ng-click="actionBar.clearEntirety()"
            ng-class="{disabled: actionBar.delegate.results.processing}"
            >
            Clear selection</a>.)
        </span>
        <span ng-if="!actionBar.hasMultiplePages()">
          (<strong>{{actionBar.delegate.results.selectedItemCount}}</strong> selected.)
          <a
            ng-click="actionBar.clearEntirety()"
            ng-class="{disabled: actionBar.delegate.results.processing}"
            >
            Clear selection
          </a>
        </span>
      </div>
      <th-select
        ng-model="actionBar.selectedAction"
        ng-change="actionBar.setSelectedAction()"
        options="actionBar.delegate.results.availableActions"
        placeholder="Action"
        condensed="true"
        ng-disabled="actionBar.delegate.results.processing"
        >
      </th-select>
      <th-button
        type="standard"
        ng-click="actionBar.triggerApply()"
        ng-disabled="actionBar.delegate.results.processing"
        loading="actionBar.delegate.results.processing"
        >
        Apply
      </th-button>
    </div>
  </div>
  <div class="flex-section">
    <ng-transclude></ng-transclude>
  </div>
</div>
