@import "../../themes/themis/index";
@import "../../lib/index";

$header-height: 40px;
$list-view-width: 120px * 2;

html {
  font-size: 10px;
}

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 13px;

  overflow: hidden;

  header.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;

    padding-left: 12px;
    padding-right: 12px;

    color: #fff;
    line-height: $header-height;
    text-align: center;

    background-color: $blue;

    h1 {
      font-size: 14px;
      font-weight: 100;
      line-height: inherit;
    }

    .version {
      display: block;
      position: absolute;
      top: 15px;
      right: -11px;
      width: $header-height;

      line-height: normal;
      font-size: 10px;
      text-align: center;

      opacity: 0.6;
      transform: rotate(-90deg);
    }
  }
}

h1, h2, h3, p {
  margin: 0;
  margin-bottom: 1.2rem;
  padding: 0;
}

h1, h2, h3 {
  @include gibson-semibold;
}

.sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: $list-view-width;

  .github-link {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $header-height;

    color: $grey;
    line-height: $header-height;
    text-align: center;
    text-decoration: none;

    border-top: solid 1px $grey-70;
    border-right: solid 1px $grey-70;
    background-color: $grey-90;

    &:hover {
      background-color: $grey-80;
    }

    i {
      margin-top: -3px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  .component-list-view {
    position: absolute;
    top: $header-height;
    bottom: $header-height;
    left: 0px;
    right: 0px;

    padding: 0.6rem 0px;

    color: $grey-90;
    border-right: solid 1px $grey-70;
    background-color: $grey-95;

    overflow: auto;

    hr {
      border: solid 1px $grey-10;
    }

    a {
      box-sizing: border-box;
      cursor: pointer;
      color: $grey;
      text-decoration: none;

      &:hover {
        background-color: $grey-90;
      }

      &.selected {
        background-color: $grey-80;
      }
    }

    &.as-icons {
      a {
        $size: $list-view-width/2;

        display: inline-block;
        width: $size;
        height: $size;

        text-align: center;
        line-height: $size;

        &:nth-child(odd) {
          border-right: 1px solid $grey-70;
        }
      }
    }

    &.as-list {
      a {
        $size: 3.8rem;

        display: block;
        height: $size;
        padding-left: 1.2rem;

        line-height: $size;
      }
    }
  }
}

.component-details-view {
  @import "./markdown";

  position: absolute;
  top: 0;
  bottom: 0;
  left: $list-view-width;
  right: 0;

  padding: 2rem;
  padding-left: 3rem;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  overflow: auto;

  h2 {
    margin-top: 1.2rem;
  }
}
