<html ng-app="thDemo">
  <body ng-controller="DemoController as demo">

    <th-button ng-click="demo.action()" text="Default"></th-button>
    <th-button ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button class="creation" ng-click="demo.action()" text="Creation"></th-button>
    <th-button class="creation" ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button class="default" ng-click="demo.action()" text="Action"></th-button>
    <th-button class="default" ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button class="destructive" ng-click="demo.action()" text="Destructive"></th-button>

  </body>
</html> 