<html ng-app="thDemo">
  <body ng-controller="TestButtonController as demo">

    <th-button ng-click="demo.action()" text="Standard"></th-button>
    <th-button ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button th-type="creation" ng-click="demo.action()" text="Creation"></th-button>
    <th-button th-type="creation" ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button th-type="default" ng-click="demo.action()" text="Action"></th-button>
    <th-button th-type="default" ng-click="demo.action()" text="Disabled" disabled></th-button>
    <th-button th-type="destructive" ng-click="demo.action()" text="Destructive"></th-button>
    <th-button th-type="destructive" ng-click="demo.action()" text="Disabled" disabled></th-button>

  </body>
</html> 