.th-radio-group {
  line-height: 2rem;
  margin-bottom: 1.2rem;
  
  .th-label {
    display: inline;
  }

  .th-radio-button {
    // text-decoration: none;
    vertical-align: middle;

    &:not(:last-child) {
      // margin-right: 0.6rem;
    }

    input[type="radio"] {
      display: none;
    }

    i {
      @extend .fa;
      @extend .fa-circle-o;
      font-size: 2rem;
      color: $grey-40;

      &.checked {
        @extend .fa-dot-circle-o;
        color: $blue;
      }
    }
  }
}

.th-vertical-radio-group {
  @extend .th-radio-group;

  .th-label {
    display: block;
    margin-bottom: 8px;
  }
  
  .th-radio-button {

    i {
      // margin-right: 1.2rem;
    }
  }
}
