<html ng-app="thDemo">
  <body ng-controller="DemoCtrl as demo">

    <th-autocomplete
      ng-model="demo.test"
      ng-change="demo.change()"
      delegate="demo.autocompleteDelegate"
      >
    </th-autocomplete>

    <button ng-click="demo.flip()">change</button>
            


    <!-- <select
      ng-model="demo.test"
      ng-change="demo.change()"
      >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select> -->

    <p>Select value: {{demo.test}}</p>

  </body>
</html>
