/*--------------------------------------------------
* Utility classes and general styles
*--------------------------------------------------*/
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.button,
%button {
  @extend .antialiased;
  @include transition(none);
  @include rem(border-radius, $border-radius);
  @include rem(height, $button-height);
  @include rem(line-height, $button-height);
  @include rem(padding, 0 12px);
  @include rem(font-size, 12px);
  @include user-select(none);
  text-transform: uppercase;
  text-decoration: none!important;
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none; // iOS Fix
  &[disabled] {
    pointer-events: none;
    cursor: default;
  }
}
.blue-button,
%blue-button {
  @extend %button;
  background: $blue;
  color: #fff!important;
  &:hover {
    background: $blue-shade;
  }
}
