/*--------------------------------------------------
* Clio z-index planes
*
* This file contains constants used for common z-index values.
* When adding a z-index value to a selector, use the constant
* defined below for the corresponding plane.
*--------------------------------------------------*/

/*--------------------------------------------------
* Notification plane
*--------------------------------------------------*/
$notificationPlane: 300000000;

/*--------------------------------------------------
* Menu plane
*--------------------------------------------------*/
$menuPlane: 200000000;

/*--------------------------------------------------
* Modal plane
*--------------------------------------------------*/
$modalPlane: 100000000;
