.th-disclosure-content {
  overflow: hidden;
  height: 0;
}

.th-disclosure-toggle {
  .fa-caret-right {
    transform: none;
    transition: transform 0.3s;
  }

  .fa-caret-right-rotated {
    transform: rotate(90deg);
  }
}
