th-disclosure-content {
  width: 100%;
  overflow: hidden;
  height: 0;
  display: block;
}

th-disclosure-toggle {
  .fa-caret-right {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;

    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .fa-caret-right-rotated {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  a {
    text-decoration: none;
    outline: none;

    &:visited {
      color: inherit;
    }
  }

  &[disabled] {
    opacity: 0.6;

    a {
      cursor: default;

      &:active {
        color: inherit;
      }
    }
  }
}
