<a
  id="{{thDisclosureToggle.name}}-toggle"
  href
  ng-click="thDisclosureToggle.toggle()"
  ng-focus="thDisclosureToggle.focus()"
  ng-blur="thDisclosureToggle.blur()"
  aria-controls="{{thDisclosureToggle.name}}"
  aria-expanded="{{thDisclosureToggle.expanded}}"
  aria-label="{{thDisclosureToggle.ariaLabel}}"
  aria-describedby="{{thDisclosureToggle.ariaDescribedby}}"
  tabindex="{{thDisclosureToggle.tabindex}}"
  role="button"
  >
  <ng-transclude
    ng-if="thDisclosureToggle.textSide == 'left'"
    >
  </ng-transclude>
  <span
    class="fa fa-caret-right"
    ng-class="{'fa-caret-right-rotated': thDisclosureToggle.expanded}"
    aria-hidden="true"
    >
  </span>
  <ng-transclude
    ng-if="thDisclosureToggle.textSide == 'right'"
    >
  </ng-transclude>
</a>
