$height: 54px;
$margin: 40px;
$padding: 16px;
$alert-icon-size: 40px;
$dismiss-icon-size: 16px;

.th-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: $notification-plane;
  min-height: $height;
  padding-left: $padding;
  padding-right: $padding;
  display: flex;
  @include animated(300ms);

  &.ng-animate {
    &.ng-hide {
      top: -#{$height};
      opacity: 0;
    }
  }

  &.th-alert-success {
    background: $green-3;
  }

  &.th-alert-error {
    background: $red-3;

    .fa-warning {
      background: $red-5;
    }
  }

  &.th-alert-warning {
    background: $yellow-4;

    .fa-warning {
      background: $yellow-5;
    }
  }

  p {
    flex: 2;
    margin-top: $padding;

    a {
      color: #fff;
    }
  }

  .fa {
    vertical-align: middle;
    font-size: 18px;

    &.alert-icon {
      color: #fff;
      text-align: center;
      width: $alert-icon-size;
      height: $alert-icon-size;
      line-height: $alert-icon-size;
      margin-right: $margin;
      margin-top: ($height - $margin) / 2;
      border-radius: 50%;
    }

    &.fa-check {
      background: $green-5;
    }

    &.dismiss-icon {
      cursor: pointer;
      line-height: $height;
      width: $dismiss-icon-size;
      margin-left: $margin;

    }
  }
}
