.button-dropdown {
  display: inline-block;
  position: relative;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  height: 3.6rem;
  vertical-align: middle;

  > a {
    @extend .antialiased;
    @include transition(none);
    border-radius: $border-radius;
    border: none;
    height: $button-height;
    line-height: $button-height;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none!important;
    cursor: pointer;
    margin: 0;
    padding: 0 1.2rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none; // iOS Fix
    background: $blue;
    color: #fff;

    &[disabled] {
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      background: $blue-shade;
    }
  }
  .green {
    background: $green;
    &:hover {
      background: $green-shade;
    }
    + ul li a:hover {
      background: $green;
    }
  }
  .grey {
    color: $grey;
    background: $grey-70;
    &:hover {
      background: $grey-60;
    }
    + ul li a:hover {
      background: $grey-70;
    }
  }
  .red {
    background-color: $red;
    &:hover {
      background-color: $red-shade;
    }
    + ul li a:hover {
      background: $red;
    }
  }

  ul {
    position: absolute;
    z-index: 2147483647;
    border-radius: .2rem;
    top: 3.8rem;
    right: 0;
    border: $border;
    margin: 0;
    background: #fff;
    min-width: 16rem;
    padding-left: 0;

    li {
      list-style-type: none;
      text-align: left;
      border-bottom: $border;
      padding: 0.6rem;
      &.iconless-padding {
        a {
          padding-left: 3.5rem;
        }
      }

      &.divider-container {
        padding: 0;
      }

      .divider {
        height: 2px;
        background-color: $grey-70;
        padding: 0;
        margin: 0;
      }

      a {
        box-sizing: border-box;
        border-radius: .2rem;
        width: 100%;
        display: inline-block;
        text-decoration: none;
        padding: 0.6rem 1.2rem;
        i {
          margin-right: .5rem;
        }


        &:not(.warning-message) {
          color: $grey;
        }

        &:hover {
          background: $blue;
          color: #fff;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.th-dropdown-overlay {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2147483646;
  background-color: rgba(0,0,0,0);
}

