<div class="button-dropdown">
  <div class="dd-overlay" ng-click="dropdown.toggle()" ng-if="dropdown.visible"></div>
  <a href="#"
    ng-class="dropdown.type"
    ng-click="dropdown.toggle()">
    {{dropdown.name}}
    <i class="fa" ng-class="dropdown.toggleCaret()"></i>
  </a>
  <div
    ng-click="dropdown.toggle()"
    ng-if="dropdown.visible"
    class="dropdown-menu"
    ng-class="dropdown.type"
    >
    <ng-switch on="item.type" ng-repeat="item in dropdown.processedItems">
      <th-item ng-switch-when='link'
        name="{{item.name}}"
        href="{{item.href}}"
        icon="{{item.icon}}">
      </th-item>
      <th-item ng-switch-when='action'
        name="{{item.name}}"
        ng-click="item.ngClick()"
        icon="{{item.icon}}">
      </th-item>
      <th-divider ng-switch-default></th-divider>
    </ng-switch>
    <ng-transclude></ng-transclude>
  </div>
</div>