.th-textarea {
  outline: none;
  flex: 1;                  // NEW, Spec - Opera 12.1, Firefox 20+
  width: 100%;
  font-size: 1.25rem;
  margin: 0;
  padding: 1.2rem;
  background: $off-white;
  border: 1px solid $grey-70;
  border-radius: 4px;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: auto;

  &.disabled {
    background: $grey-90;
    color: $grey-40;
  }

  &::-ms-clear {
    display: none;
  }

  &.with-icon {
    padding-right: 32px;
  }
}

th-textarea {
  display: flex;
  position: relative;
  border-radius: 4px;
  @include animated(100ms);

  &.has-focus {
    box-shadow: 0 0 5px rgba(97, 179, 227, .7);
    .th-textarea {
      border-color: #61b3e3;
    }
  }
}

.th-textarea-icon {
  position: absolute;
  top: 14px;
  right: 16px;
  color: $grey-40;
}
