th-textarea {
  display: inherit;
  height: auto;
  position: relative;
  border-radius: 4px;
  @include animated(100ms);

  &.has-focus {
    box-shadow: 0 0 5px rgba(97, 179, 227, .7);
    border-color: $focus-blue;
  }

  textarea {
    overflow: auto;
    outline: none;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 13px;
    background: $off-white;
    border: 1px solid $grey-70;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

    &.disabled {
      background: $grey-90;
      color: $grey-40;
    }

    &.with-icon {
      padding-right: 32px;
    }
  }

  .th-textarea-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    color: $grey-40;
  }
}

