th-textarea {
  display: inherit;
  height: auto;
  position: relative;
  border-radius: 4px;
  border: 1px solid #fff;
  @include animated(100ms);

  textarea {
    overflow: auto;
    outline: none;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 13px;
    background: $off-white;
    border: 1px solid $grey-70;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

    &.has-focus {
      transition: border-color .3s ease-out;
      transition: box-shadow .3s ease-out;
      box-shadow: 0 0 10px rgba($blue-shadow, .7);
      border-color: $blue-tint;
    }

    &.disabled {
      background: $grey-90;
      color: $grey-40;
    }

    &.with-icon {
      padding-right: 32px;
    }

    &.is-invalid {
      box-shadow: 0px 0px 0px 1px rgba($red-alert, .7);
      border-color: $red-alert;
    }
  }

  .th-textarea-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    color: $grey-40;
  }
}

