@import "src/themes/base/spacing.scss";

color-swatch {
  @include spacing-stack-l;
  $swatch-column-width: 300px;

  display: block;
  columns: $swatch-column-width;

  .color-palette {
    @include spacing-stack-l;
    display: inline-flex;
    width: $swatch-column-width;

    .swatch {
      @include spacing-inline-l;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
    }

    .hex, .variable {
      margin: 0;
    }
    .variable {
      font-size: 16px;
      font-weight: 600;
    }
    .hex {
      color: $grey-5;
      font-size: 14px;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
