@import "../../themis_theme/index";
@import "../../themis_components/index";

html {
  font-size: 10px;
}

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 2rem;
}

// Convenient width & height classes for examples.
@for $i from 1 through 11 {
  .th-example-height-#{$i}00 {
    vertical-align: bottom;

    display: inline-block;
    height: #{$i}00px;
  }
}

@for $i from 1 through 11 {
  .th-example-width-#{$i}00 {
    vertical-align: bottom;

    display: inline-block;
    width: #{$i}00px;
  }
}

.th-example-grey { color: $light-grey; }

.th-example-blue { color: $blue; }
