.th-lazy {
  .th-error-container {
    padding: 60px 0;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
    color: $medium-grey;

    .th-error-message {
      padding: 0px 15px 7px 15px;
      display: inline-block;
    }

    i {
      color: $light-grey-5;
      display: block;
      margin-bottom: 12px;
      font-size: 32px;
    }
  }
}
