<div style="height: 200px;">
  <h1>thPopover Example 1</h1>

  <div><th-switch ng-model="state"></th-switch> {{ state }}</div>

  <div><a href="http://google.com" target="_blank">Google</a></div>
  <div><a href="#">Another Link</a></div>

  <div>
    content<br/>more<br/>
    andmore<br/>andmore<br/>andmore<br/>
    andmore<br/>andmore<br/>andmore<br/>
    andmore<br/>andmore<br/>andmore<br/>
    andmore<br/>andmore<br/>andmore<br/>
  </div>

  <div><a href="" ng-click="dismiss()">Close</a></div>
</div>
