<html ng-app="thDemo">
  <style type="text/css">
    .error {color: #BF1E2E; margin: -15px 0 15px 10px; font-weight: bold;}
  </style>
  <body>
    <div class="width-400">
      <form name="form" novalidate>
        <th-textarea
          rows="5"
          name="text"
          with-label="Use with a form"
          ng-required="true"
          ng-minlength="10"
          ng-maxlength="25">
        </th-textarea>
        <div ng-messages="form.text.$error" ng-if="form.$dirty" class="error">
          <div ng-message="required">
            This is a required field.
          </div>
          <div ng-message="minlength">
            So interesting. You must tell us more!
          </div>
          <div ng-message="maxlength">
            Too long! Dial it back please.
          </div>
        </div>
        <pre ng-if="form.$invalid">{{form.text.$error | json}}</pre>
        <pre ng-if="form.$valid">{{ {"valid": form.text.$valid } | json}}</pre>
      </form>
    </div>
  </body>
</html>
