/*--------------------------------------------------
* COLORS
* Refrain from usage other than by
* the semantic color variables below
*--------------------------------------------------*/
$blue: #0075bb;
$blue-dark: #004670;
$blue-light: #EBF4F9;

$red: #E41B28;
$red-dark: #A40618;

$green: #339931;
$green-dark: #0A6B0C;

$grey-6: #263238;
$grey-5: #667881;
$grey-4: #B0BEC5;
$grey-3: #D7DEE2;
$grey-2: #ECEFF1;
$grey-1: #F5F7F8;

$yellow: #f6d654;
$orange: #FF8800;

$white: white;
$black: black;

/*--------------------------------------------------
* SEMANTIC COLORS
*--------------------------------------------------*/
$alert-color: $red;
$border-color: $grey-4;
$success-color: $green-dark;
$focus-color: $blue;
$input-background-color: $grey-1;
$input-dark-background-color: $grey-3;
$input-disabled-background-color: $grey-2;
$input-disabled-text-color: $grey-5;
$input-placeholder-color: $grey-5;
$link-color: $blue;
$link-dark-color: $grey-6;
$panel-background-color: $grey-2;
$panel-border-color: $grey-4;
$radio-border-color: $grey-5;
$table-border-color: $grey-4;
$table-cell-color: $grey-6;
$table-header-background-color: $grey-2;
$text-color: $grey-6;

/*--------------------------------------------------
* DEPRECATED COLORS
*--------------------------------------------------*/
$deprecated-yellow-4: #c8b457;
$deprecated-yellow-5: #a3944e;
$deprecated-yellow-6: #ddc14b;
$deprecated-yellow-dark: #ddc14c;
$deprecated-light-blue: #5AB1E7;
$deprecated-blue-shadow: rgba(97, 179, 227, .7);
