.th-autocomplete-wrapper {
  @import "../../node_modules/ui-select/dist/select";

  position: relative;
  display: block;
  font-size: 13px;

  .ui-select-container {
    height: 42px;

    // ui-select component uses bootstrap for styling. These are all rules
    // used by ui-select copied from bootstrap.
    .glyphicon {
      position: relative;
      top: 1px;

      display: inline-block;

      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      font-smoothing: antialiased;
      line-height: 1;
    }

    .glyphicon-remove:before {
      content: "\e014";
    }

    * {
      box-sizing: border-box;
    }

    a {
      color: $red-1;
      text-decoration: none;
    }

    .text-muted {
      color: $placeholder-grey;
    }

    .form-control {
      display: block;
      width: 100%;
      padding: 12px;

      font: inherit;

      background: $off-white;
      border: 1px solid $grey-70;
      border-radius: 4px;

      &:focus {
        box-shadow: 0 0 5px rgba(97, 179, 227, .7);
        border: 1px solid $focus-blue;
        outline: none;
      }
    }

    .btn {
      display: inline-block;
      cursor: pointer;
    }

    .btn-default-focus {
      box-shadow: none;
      border: none;
      outline: none;

      span.ui-select-toggle {
        box-shadow: 0 0 5px rgba(97, 179, 227, .7);
        border: 1px solid $focus-blue;
        outline: none;
      }
    }

    .btn-link {
      font-weight: normal;
      color: $red-1;
      border-radius: 0;
    }

    .btn-link,
    .btn-link:active,
    .btn-link.active,
    .btn-link[disabled],
    fieldset[disabled] .btn-link {
      box-shadow: none;
      background-color: transparent;
    }

    .btn-link,
    .btn-link:hover,
    .btn-link:focus,
    .btn-link:active {
      border-color: transparent;
    }

    .btn-xs,
    .btn-group-xs > .btn {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .caret {
      display: none;
    }

    &.dropup,
    &.dropdown {
      position: relative;
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: $menu-plane;

      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;

      text-align: left;

      background-color: $white;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      list-style: none;
    }

    .dropdown-menu .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: $red-1;
    }

    &.open > .dropdown-menu {
      display: block;
    }

    .dropdown-header {
      display: block;
      padding: 3px 20px;

      line-height: 1.42857143;
      color: $red-1;
      white-space: nowrap;
    }

    &.ui-select-bootstrap {
      .ui-select-choices-row {
        > a {
          display: block;
          padding: 9px 12px;
          clear: both;
          font-weight: inherit;
          color: inherit;
          white-space: nowrap;
        }

        &.active {
          > a {
            color: $white;
            text-decoration: none;
            outline: 0;
            background-color: $blue;
          }
        }
      }
    }

    .ui-select-search {
      background: $off-white;
      min-width: 100%;
      padding: 12px;
      margin: 0;
    }

    input[type="search"].form-control {
      -webkit-appearance: textfield;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        appearance: none;
      }
    }
  }

  // Add ellipsis for overflowing names.
  .ui-select-match {
    span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .th-autocomplete-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    color: $grey-40;
    z-index: $root-plane + 1;
  }

  i.th-autocomplete-icon ~ .ui-select-container {
    .ui-select-search {
      // Add padding to accommodate icon if icon exists.
      padding: 12px 40px 12px 12px;
    }
  }

  &.condensed {
    .ui-select-container {
      height: 34px;

      .form-control {
        padding: 8px;
      }

      .btn {
        height: 34px;
      }
    }

    .ui-select-search {
      padding: 8px;
    }

    .th-autocomplete-icon {
      top: 12px;
    }

    i.th-autocomplete-icon ~ .ui-select-container {
      .ui-select-search {
        // Add padding to accommodate icon if icon exists.
        padding: 8px 40px 8px 8px;
      }
    }
  }
}
