.th-radio-button {
  $size: 16px;
  $inset: 5px;

  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  background-color: #fff;

  box-sizing: border-box;
  border: solid 1px $subtext-color;
  border-radius: 100%;

  input[type="radio"] {
    display: none;
  }

  &.checked {
    background-color: $dark-blue;
  }

  i {
    display: block;
    position: absolute;
    top: $inset;
    bottom: $inset;
    left: $inset;
    right: $inset;
    background-color: #fff;
    width: 4px;
    height: 4px;
    border-radius: 100%;

    @include animated();
    opacity: 0;
    transform: scale(0);
  }

  &.checked {
    i {
      opacity: 1;
      transform: scale(1);
    }
  }
}
