.th-radio-button {
  input[type="radio"] {
    display: none;
  }

  i {
    @extend .fa;
    @extend .fa-circle-o;
    font-size: 2rem;
    color: $grey-40;
  }

  &.checked {
    i {
      @extend .fa-dot-circle-o;
      color: $blue;
  
      // &:after {
      //   content: "*";
      // }
    }
  }
}

