<html ng-app="thDemo">
  <style type="text/css">
    .error {color: #BF1E2E; font-weight: bold;}
    .message-wrapper {margin: 5px 0 20px 10px; height: 20px;}
    .th-label {margin-bottom: 0 !important;}
  </style>
  <body
    ng-controller="DemoController as demo"
    class="th-example-height-300"
    >
    <div class="th-example-width-400">
      <form name="demo.form" novalidate>
        <th-input
          name="text"
          icon="comments"
          ng-model="demo.text"
          with-label="Use with a form"
          ng-required="true"
          ng-minlength="10"
          ng-maxlength="25"
          >
        </th-input>
        <div class="message-wrapper">
          <div
            ng-messages="demo.form.text.$error"
            class="error"
            ng-if="demo.form.$submitted"
            >
            <div ng-message="required">
              This is a required field.
            </div>
            <div ng-message="minlength">
              So interesting. You must tell us more!
            </div>
            <div ng-message="maxlength">
              Too long! Dial it back please.
            </div>
          </div>
        </div>
        <th-button type="default" ng-click="demo.submit()" submit>Submit</th-button>
        <th-button ng-click="demo.reset()">reset</th-button>
        <pre ng-if="demo.response">{{demo.response | json}}</pre>
      </form>
    </div>
  </body>
</html>
