.th-checkbox,
*[th-checkbox] {
  $size: 14px;
  $border: 2px;
  $font-size: 12px;

  display: inline-block;
  vertical-align: sub;
  width: $size;
  height: $size;
  font-weight: 100;
  border-radius: $border;
  background: #fff;
  border: solid $border $dark-grey-4;
  position: relative;
  cursor: pointer;

  &.checked {
    i {
      width: $size;
      opacity: 1;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  i {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 0px;

    color: $dark-grey-4;
    font-size: $font-size;
    font-style: normal;
    text-align: center;

    transition: all 0.2s;
    opacity: 0.5;
    overflow: hidden;

    &:before {
      @extend .fa;
      content: '\f00c';
      width: $size;
      line-height: $size;
    }
  }
}
