.th-checkbox,
*[th-checkbox] {
  $size: 14px;
  $margin-size: 6px;
  $border: 1px;
  $border-radius: 2px;
  $font-size: 13px;
  $icon-width: 10px;
  $icon-height: 7px;

  display: inline-block;
  vertical-align: -9px;
  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: $border-radius;
  border: solid $border $subtext-color;
  position: relative;
  cursor: pointer;
  margin-top: $margin-size;
  margin-bottom: $margin-size;

  &.checked, &.indeterminate {
    background-color: $dark-blue;
    border: solid $border $dark-blue;
    i {
      width: $icon-width;
      height: $icon-height;
      color: #fff;
      opacity: 1;
    }
  }

  &.indeterminate {
    i:before {
      content: "\f068";
      padding-left: 1px;
    }
  }

  &.checked {
    i:before {
      content: "\f00c";
    }
  }

  &.disabled {
    background-color: $grey-90;
    cursor: initial;
  }

  input[type="checkbox"] {
    display: none;
  }

  i {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 0px;
    left: 2px;
    width: 0px;

    color: #fff;
    font-size: $icon-width;
    font-style: normal;
    opacity: 0;

    &:before {
      @extend .fa;
      position: absolute;
      width: $icon-width;
      height: $icon-height;
      line-height: $icon-height;
    }
  }
}
