.action-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  min-height: 55px;
  box-sizing: border-box;

  .flex-section {
    display: flex;
    align-items: center;

    .th-label {
      margin-bottom: 0;
      margin-left: 10px;
      height: 20px;

      .label-text {
        margin-left: 20px;
        margin-right: 5px;

        font-size: 13px;
        color: $blue;

        cursor: pointer;
      }
    }
    th-disclosure-toggle.filter-toggle {
      a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        cursor: pointer;
      }
      span.fa {
        margin-left: 3px;
      }
    }
  }
  .action-menu {
    font-size: 13px;
    margin-left: 12px;

    .select-wrapper {
      display: inline-block;
      width: 156px;
      margin-left: 20px;
      margin-right: 5px;

      vertical-align: bottom;
    }

    .button-wrapper.margin-left-10 {
      margin-left: 10px;
    }

    .th-button {
      height: 34px;

      line-height: 34px;

      .load-wrapper {
        top: 7px;
      }
    }

    .action-text {
      display: inline-block;

      font-weight: normal;
      color: #898b8c;
      vertical-align: middle;
    }
    a {
      color: $blue;

      cursor: pointer;
    }
  }

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}
