<div class="sidebar">
  <header class="main">
    <h1>
      <a ui-sref="index">ThemisUI</a>
    </h1>
    <div class="version">{{$ctrl.version}}</div>
  </header>
  <div
    ng-cloak
    class="component-list-view {{$ctrl.viewType}}"
    >
    <th-disclosure-toggle name="th-guidelines" expanded="true">Guidelines</th-disclosure-toggle>
    <th-disclosure-content name="th-guidelines">
      <a
        ng-repeat="docsObj in $ctrl.docs"
        ui-sref-active="selected"
        ui-sref="docs({name: docsObj.name})"
        ng-if="!docsObj.private"
        >
        {{docsObj.prettyName || docsObj.name}}
      </a>
    </th-disclosure-content>
    
    <th-disclosure-toggle name="th-components" expanded="true">Components</th-disclosure-toggle>
    <th-disclosure-content name="th-components">
      <a
        ng-repeat="componentObj in $ctrl.components"
        ui-sref-active="selected"
        ui-sref="component({name: componentObj.name})"
        ng-if="!componentObj.private"
        >
        {{componentObj.name}}
      </a>
    </th-disclosure-content>
  </div>
  <a class="github-link" href="https://github.com/clio/lib-themisui" target="_blank">
    <i class="fa fa-2x fa-github"></i> View on Github
  </a>
</div>
