<div class="sidebar">
  <header class="main">
    <h1>
      <a ui-sref="index">ThemisUI</a>
    </h1>
    <div class="version">{{$ctrl.version}}</div>
  </header>
  <div
    ng-cloak
    class="component-list-view {{$ctrl.viewType}}"
    >
    <a
      ng-repeat="docsObj in $ctrl.docs"
      ui-sref-active="selected"
      ui-sref="docs({name: docsObj.name})"
      ng-if="!docsObj.private"
      >
      {{docsObj.prettyName || docsObj.name}}
    </a>
    <a
      ng-repeat="componentObj in $ctrl.components"
      ui-sref-active="selected"
      ui-sref="component({name: componentObj.name})"
      ng-if="!componentObj.private"
      >
      {{componentObj.name}}
    </a>
  </div>
  <a class="github-link" href="https://github.com/clio/lib-themisui" target="_blank">
    <i class="fa fa-2x fa-github"></i> View on Github
  </a>
</div>
