<div class="row">
  <div class="field">
    <th-select
      options="thCustomFilters.customFilterTypes"
      placeholder="Select field"
      ng-model="thCustomFilterRow.rowSelectValue"
      ng-change="thCustomFilterRow.onRowSelectChange()"
      value-field="fieldIdentifier"
      condensed="true"
      >
    </th-select>
  </div>
  <div
    ng-repeat="filter in thCustomFilterRow.rowFilterOptions"
    ng-switch on="filter.type"
    class="wide field filter-container"
    >
    <th-filter-select
      ng-switch-when="select"
      filter-set="thCustomFilters.filterSet"
      filter-options="thCustomFilterRow.rowSelectValue"
      >
    </th-filter-select>
    <th-filter-input
      ng-switch-when="input"
      filter-set="thCustomFilters.filterSet"
      filter-options="thCustomFilterRow.rowSelectValue"
      ng-blur="thCustomFilters.filterSet.onFilterChange()"
      >
    </th-filter-input>
    <th-filter-input
      ng-switch-when="email"
      filter-set="thCustomFilters.filterSet"
      filter-options="thCustomFilterRow.rowSelectValue"
      ng-blur="thCustomFilters.filterSet.onFilterChange()"
      placeholder="email@example.com"
      >
    </th-filter-input>
    <th-filter-input
      ng-switch-when="url"
      filter-set="thCustomFilters.filterSet"
      filter-options="thCustomFilterRow.rowSelectValue"
      ng-blur="thCustomFilters.filterSet.onFilterChange()"
      placeholder="webaddress.com"
      >
    </th-filter-input>
  </div>
  <div class="field">
    <div class="link" ng-click="thCustomFilterRow.removeRow()">
      Remove
    </div>
  </div>
</div>
