.select-wrapper {
  position: relative;

  .has-focus {
    border: 1px solid $blue-1 !important;
    outline: none;
    @include box-shadow(0 0 0.5em rgba(97, 179, 227, .7));
    transition: border-color .3s ease-out;
    transition: box-shadow .3s ease-out;
  }

  .text-wrapper {
    margin: 0;
    padding: 12px;
    background: $off-white;
    border: 1px solid $grey-70;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-size: 14px;
    z-index: 9;
    width: 100%;
    min-height: 42px;
    color: $light-grey-5;

    .fa-caret-down {
      float: right;
      color: $dark-grey;
      line-height: 20px;
    }
    &.disabled {
      background: $grey-90;
      color: $grey-40;
    }
  }
  select {
    width: 100%;
    opacity: 0;
    z-index: 10;
    position: absolute;
    background: none;
    height: 42px;

    &[disabled~="disabled"] {
      cursor: not-allowed;
    }

    &.ng-dirty + .text-wrapper {
      color: $dark-grey;
    }
  }

  &.condensed {
    .text-wrapper {
      font-size: 13px;
      padding: 7px 10px;
      min-height: 34px;
    }

    select {
      height: 34px;
    }
  }
}

