.th-select-wrapper {
  outline: none;
  width: 100%;
  margin: 0;
  padding: 1.2rem;
  background: $off-white;
  border: 1px solid $grey-70;
  border-radius: 0.4rem;
  position: relative;
  -webkit-appearance: none;
  @include box-sizing(border-box);

  .selected-text {
    font-size: 1.4rem;
    z-index: 9;
    position: absolute;
    top: 12px;
    width: 90%;
    .fa-caret-down {
      float: right;
      color: $dark-grey;
    }
  }
  .option-wrapper {
    // border: 2px solid $light-grey-5;
    span:first-child {
      // border-bottom: 1px solid $grey;
      // background: $light-grey-1;
      // padding: 5px 10px;
      // border-radius: 3px;
    }
  }
  .option {
    padding: 7px 15px;
    border-bottom: 1px solid grey;
    &:hover {
      background: $blue;
      color: #fff;
    }
  }
  .has-focus {
    @include box-shadow(0 0 0.5em rgba(97, 179, 227, .7));
  }
}
select {
  width: 100%;
  opacity: 0;
  z-index: 10;
  position: relative;
  background: none;
  height: 30px;
}
