.th-tabset {
  display: block;

  .th-tab-bar {
    border-bottom: solid 1px $grey-70;
    margin: 0;
    padding: 0 20px;

    display: flex;
    align-items: center;

    list-style: none;

    li.tab-name {
      margin-right: 6px;
      line-height: 32px;
      font-size: 16px;

      color: $grey-40;
      @include gibson-regular;
      text-decoration: none;

      border-bottom: solid 3px #fff;

      cursor: pointer;
      user-select: none;

      &.active {
        color: $grey;
        @include gibson-semibold;
        border-color: $blue;

        .th-tab-badge {
          color: $white;
          background: $grey;
        }
      }
    }
  }
  &.header,
  &.sub-header {
    li.tab-name {
      padding-top: 12px;

      &.active {
        font-weight: bold;
      }
    }
  }
  &.header {
    li.tab-name {
      margin-right: 24px;
      padding-bottom: 12px;

      font-size: 18px;
    }
  }
  &.sub-header {
    li.tab-name {
      margin-right: 20px;
      padding-bottom: 8px;

      font-size: 15px;
    }
  }

  .th-tab-action-bar {
    margin-left: auto;

    .th-button,
    .button-dropdown {
      margin-left: 6px;
    }
  }

  .th-tab-badge {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 8px;

    color: $grey;
    font-size: 0.7896em;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;

    border-radius: $border-radius;
    background: $light-grey-2;
  }
}
