<div class="th-tabset {{ type }}">
  <div class="th-tab-bar">
      <a
        href=""
        ng-click="processTabChange(tab)"
        ng-repeat="tab in tabs"
        ng-class="{active:tab.active}"
        class="tab-name"
        >
        {{ tab.name }}
        <span class="th-tab-badge" ng-if="hasBadge(tab)">
          {{ tab.badge }}
        </span>
      </a>
      <div
        class="th-tab-action-bar"
        ng-transclude="actionBar"
      >
      </div>
  </div>
  <div
    class="th-tabset-content"
    ng-transclude
    >
  </div>
</div>
