.th-button,
*[th-button] {
  @mixin generate-button($background-color, $hover-color, $color: $white) {
    color: $color;
    background-color: $background-color;

    &:hover {
      background-color: $hover-color;

      &:active {
        background-color: mix($hover-color, #000, 85%);
      }
    }

    &[disabled] {
      background-color: $background-color;
      opacity: 0.6;
    }
  }

  @extend .antialiased;

  display: inline-block;

  height: 36px;
  padding: 0px 12px;
  line-height: 36px;
  vertical-align: middle;

  font-size: 12px;
  font-weight: bold;

  border: none;
  border-radius: $border-radius;
  outline: none;

  color: $grey;

  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    cursor: default;
  }

  @include generate-button($grey-80, $grey-70, $grey);

  &.default {
    @include generate-button($blue, $blue-shade);
  }
  &.create {
    @include generate-button($green, $green-shade);
  }
  &.destroy {
    @include generate-button($red, $red-shade);
  }
}
