<html ng-app="thDemo">
  <style type="text/css">
    .th-label {margin-bottom: 0 !important;}
  </style>
  <body
    ng-controller="DemoController as demo"
    class="th-example-height-100 th-example-width-500"
    >
    <th-input
      name="text"
      icon="comment-o"
      ng-model="demo.text"
      with-label="thInput with ngChange"
      ng-change="demo.onChange()"
      condensed="true"
      >
    </th-input>
    <br>
    <th-button ng-click="demo.reset()">reset</th-button>
    <h4 class="th-example-grey">
      ngChanged function called
      <span class="th-example-blue">{{demo.counter}}</span>
      time(s) with value
      <span class="th-example-blue">{{demo.modelValueOnChange}}</span>
    </h4>
  </body>
</html>
