label.th-label {
  @include box-sizing;
  position: relative;
  display: block;
  margin-left: 8px;

  &.radio-label {
    vertical-align: top;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .inline {
    margin-left: 8px;
    vertical-align: inherit;

    &.label-text {
      height: 14px;
      color: $primary-text-color;
      font-family: $sans-serif;
      font-size: $primary-text-font-size;
      font-weight: normal;
    }
  }

  .label-text {
    color: $light-grey;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .required-field {
    float: right;
    color: $green;
  }
}
