label.th-label {
  @include box-sizing;
  position: relative;
  display: block;
  margin-bottom: 25px;

  &.th-checkbox-label {
    margin-bottom: 12px;

    &.subtext-label {
      margin-bottom: 20px;
    }
  }

  &.radio-label {
    margin-bottom: 12px;
    vertical-align: top;

    &.subtext-label {
      margin-bottom: 20px;
    }
  }

  .inline {
    margin-left: 8px;
    vertical-align: inherit;

    &.label-text {
      display: inline-block;
      margin-bottom: 0;
      font-family: $sans-serif;
      font-size: $primary-text-font-size;
      font-weight: normal;
      vertical-align: middle;
      color: $primary-text-color;

      &.with-subtext {
        margin: 0;
        margin-left: 8px;
      }
    }

    &.sublabel-text {
      display: block;
      margin: 0;
      font-family: $sans-serif;
      font-size: $subtext-font-size;
      font-weight: normal;
      color: $subtext-color;
    }
  }

  .label-text {
    margin-bottom: 8px;
    font-weight: bold;
    color: $light-grey;
  }

  .required-field {
    float: right;
    color: $green;

    &.hide {
      display: none;
    }
  }
}
