label.th-label {
  @include box-sizing;
  position: relative;
  display: block;
  margin-bottom: 25px;

  &.radio-label {
    vertical-align: top;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .inline {
    margin-left: 8px;
    vertical-align: inherit;
  }

  .label-text {
    color: $light-grey;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 6px;

  }
}
