@import "../../node_modules/angular-datepicker/dist/angular-datepicker.min";

// overrride library styles to match Themis
.th-date-picker-wrapper {
  width: 300px;
  background: $dark-grey-4;
  border-color:  $dark-grey-4;
  border-collapse: separate;
  padding: $base-unit/2;
  margin-bottom: 0;
  @include border-radius(0.308em);
}
