th-table {
  table {
    background: #fff;
    border-collapse: collapse;
    width: 100%;
    font-size: inherit;
  }

  th, td {
    max-width: 255px;
    word-wrap: break-word;
    padding: 9px;
  }

  th {
    border: 1px solid $border-color;
    border-left: none;
    border-right: none;

    font-weight: bold;
    position: relative;
    white-space: nowrap;
    background: $grey-90;

    &.th-table-align-right {
      text-align: right;
    }

    &.th-table-align-center {
      text-align: center;
    }

    &.th-table-align-left {
      text-align: left;
    }

    &.th-table-sortable {
      cursor: pointer;
    }

    &.th-table-sortable.th-table-sort-ascending .th-table-sort-icon {
      @extend .fa;
      @extend .fa-caret-down;
      color: #b8b8b6;
    }

    &.th-table-sortable.th-table-sort-descending .th-table-sort-icon {
      @extend .fa;
      @extend .fa-caret-up;
      color: #b8b8b6;
    }

    &.th-table-sortable.th-table-sort-none:hover .th-table-sort-icon {
      @extend .fa;
      @extend .fa-caret-down;
    }
  }

  td {
    border: 0 none;
    color: $light-grey;
    margin: 0;
    vertical-align: top;

    &.th-table-actions-cell {
      border-bottom: 1px solid #d9dada;
    }
  }
}
