@import "src/themes/base/colors.scss";
@import "src/themes/themis/variables.scss";

spacing-demo {
  .demo-container {
      border: $border;
      margin-bottom: $spacing-xl;
  }

  .demo {
    .card {
      overflow: auto;
      background-color: transparent;
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
      background-color: $white;
    }

    p {
      font-size: 14px;
    }

    &.inline {
      display: table;

      .card {
        border: none;
      }

      [class*="spacing-"] {
        background-clip: initial;
      }
    }
  }

  .block-wrapper {
    background-color: $white;
  }
}
