@import "~prismjs/themes/prism.css";
@import "src/themes/themis/index";

@import "./settings";

// Documentation components
@import "../documentation/colorPalette/index";
@import "../documentation/flex/index";
@import "../documentation/spacing/index";

// Catalog components
@import "../catalog/header/index";
@import "../catalog/component-example/index";


html {
  font-size: 10px;
}

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 13px;

  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
  margin-bottom: 1.2rem;
  padding: 0;
}

h1, h2, h3 {
  @include gibson-semibold;
}

.sidebar {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  width: $list-view-width;
  overflow-y: scroll;

  .github-link {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $header-height;

    color: $grey-6;
    line-height: $header-height;
    text-align: center;
    text-decoration: none;

    border-top: $border;
    border-right: $border;
    background-color: $grey-2;

    &:hover {
      background-color: $grey-3;
    }

    i {
      margin-top: -3px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  .component-list-view {

    padding: 20px;

    color: $grey-5;
    border-right: solid 1px $grey-2;
    background-color: $white;

    overflow: auto;

    @mixin heading {
      color: $text-color;

      &, &.selected {
        font-weight: 600;
      }
    }

    @mixin link {
      text-decoration: none;

      &:hover, &.selected {
          color: $blue;
        }

      &.selected {
        background-color: rgba($blue, 0.1);
        border-radius: 4px;

        font-weight: 400;
      }
    }

    hr {
      border: solid 1px $grey-6;
    }

    > a {
      @include link;
      @include heading;
    }

    th-disclosure-toggle {
      a {
        position: relative;
      }

      span {
        @include heading;

        &.fa-caret-right {
          color: $grey-5;

          position: absolute;
          right: 30px;
          top: 12px;
        }
      }
    }

    th-disclosure-content {
      padding-left: 16px;

      a {
        box-sizing: border-box;
        cursor: pointer;
        color: $grey-6;
        margin-right: 20px;

        @include link;
      }

    }

    &.as-icons {
      a {
        $size: $list-view-width/2;

        display: inline-block;
        width: $size;
        height: $size;

        text-align: center;
        line-height: $size;

        &:nth-child(odd) {
          border-right: $border;
        }
      }
    }

    &.as-list {
      a {
        $size: 3.8rem;

        display: block;
        height: $size;
        padding-left: 1.2rem;

        line-height: $size;
      }
    }
  }
}

.component-details-view {
  @import "./markdown";

  position: absolute;
  top: $header-height;
  bottom: 0;
  left: $list-view-width;
  right: 0;

  padding: 2rem;
  padding-left: 3rem;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  overflow: auto;

  h2 {
    margin-top: 1.2rem;
  }
}
