@import "~prismjs/themes/prism";
@import "src/themes/themis/index";
@import "src/lib/index.themis";

@import "./settings";

// Documentation components
@import "../documentation/design/colorPalette/index";
@import "../documentation/design/flex/index";
@import "../documentation/design/spacing/index";

// Catalog components
@import "../catalog/header/index";
@import "../catalog/search/index";
@import "../catalog/component-example/index";
@import "./fonts";

html {
  font-size: 10px;
}

body {
  font-family: $proxima-nova;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
}
.docs-app {
  h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4,h5, h6 {
    font-weight: 600;
  }
  h1 {
    margin-bottom: $spacing-l;
    font-size: 30px;
    line-height: 34px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: $spacing-l;
  }
  h3, h4, h5, h6 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: $spacing-l;
  }
  p {
    margin-bottom: $spacing-xl;
  }
}

.sidebar {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  width: $list-view-width;
  border-right: solid 1px $grey-2;
  overflow-y: scroll;

  .github-link {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $header-height;

    color: $grey-6;
    line-height: $header-height;
    text-align: center;
    text-decoration: none;

    border-top: $border;
    border-right: $border;
    background-color: $grey-2;

    &:hover {
      background-color: $grey-3;
    }

    i {
      margin-top: -3px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  .component-list-view {
    font-size: 14px;

    padding: $spacing-l;

    color: $grey-5;
    background-color: $white;

    overflow: auto;

    @mixin heading {
      color: $text-color;

      &, &.selected {
        font-weight: 600;
      }
    }

    @mixin link {
      text-decoration: none;
      padding: 0 12px;
      border-radius: 2px;
      color: $grey-5;

      &:hover {
        background: $grey-2;
        color: $grey-6;
      }

      &.selected {
        background-color: $blue;
        font-weight: 400;
        color: $white;
      }
    }

    .nav-section {
      margin-bottom: $spacing-m;

      > a {
        @include link;
        @include heading;
      }
    }

    hr {
      border: solid 1px $grey-6;
    }


    th-disclosure-toggle {
      margin-bottom: 300px;
      a {
        position: relative;
        font-weight: 700;
        @include link;
      }

      span {
        @include heading;

        &.fa-caret-right {
          color: $grey-5;

          position: absolute;
          right: $spacing-m + 2;
          top: 10px;
        }
      }
    }

    th-disclosure-content {
      a {
        box-sizing: border-box;
        cursor: pointer;
        @include link;
        padding: 0
      }

    }

    &.as-icons {
      a {
        $size: $list-view-width/2;

        display: inline-block;
        width: $size;
        height: $size;

        text-align: center;
        line-height: $size;

        &:nth-child(odd) {
          border-right: $border;
        }
      }
    }

    &.as-list {
      a {
        cursor: pointer;

        $size: 32px;

        display: block;
        height: $size;

        line-height: $size;
        padding: 0 $spacing-m;
      }
      th-disclosure-content a {
        padding: 0 $spacing-m 0 $spacing-l;
      }
    }
  }
}

.component-details-view {
  @import "./markdown";

  position: absolute;
  top: $header-height;
  bottom: 0;
  left: $list-view-width;
  right: 0;

  padding: $spacing-xl;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;

  overflow: auto;
}
a {
  color: $blue;
}
code[class*="language-"], pre[class*="language-"] {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: $spacing-l;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: $grey-1;
  border-radius: 2px;
}
pre[class*="language-"] {
  padding: $spacing-l;
  border: 1px solid $grey-4;
}
ul, ol {
  margin: 0;
  padding: 0;
  padding-left: $spacing-l;
  margin-bottom: $spacing-xl;
  list-style-position: outside;
}
ul li, ol li {
  margin-bottom: $spacing-s;
  &:last-child {
    margin-bottom: 0;
  }
}

ol li ol {
  margin-top: $spacing-s;
  margin-bottom: 0;
}

table {
  border: 1px solid $grey-3;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $spacing-l;
}
th, td {
  text-align: left;
}
th {
  background-color: $grey-1;
  padding: $spacing-s $spacing-m;
  border-right: 1px solid $grey-2;
  height: 32px;
  padding: 0 $spacing-m;
  font-weight: 700;
}
td {
  border: 1px solid $grey-3;
  padding: $spacing-s $spacing-m;
  border-right: 1px solid $grey-2;
}
strong {
  font-family: $proxima-nova;
  font-weight: 700;
}
.helper-text {
  color: $grey-5;
}
hr {
  border: 0;
  background: $grey-3;
  margin: $spacing-l 0;
  height:1px;
}
.badge {
  font-size: 12px;
  border: 1px solid $grey-6;
  padding: $spacing-xs $spacing-s;
  border-radius: 2px;
  background: $grey-6;
  color: $white;
  font-weight: 600;
  &.green {
    border-color: $green;
    background: $green;
  }
  &.orange {
    border-color: $orange;
    background: $orange;
  }
  &.red {
    border-color: $red;
    background: $red;
  }
  &.blue {
    border-color: $blue;
    background: $blue;
  }
}
.badge.light-grey {
  border-color: $grey-2;
  background: $grey-2;
  color: $grey-6;
}
