.th-input-wrapper {
  position: relative;
  display: flex;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid $grey-70;
  border-radius: 4px;
  @include animated(100ms);

  &.has-focus {
    transition: border-color .3s ease-out;
    transition: box-shadow .3s ease-out;
    box-shadow: 0 0 10px rgba($blue-shadow, .7);
    border-color: $blue-tint;
  }

  &.is-invalid {
    box-shadow: 0px 0px 0px 1px rgba($red-alert, .7);
    border-color: $red-alert;
  }

  &.condensed {
    height: 34px;

    .th-input,
    .th-input-prefix,
    .th-input-postfix {
      padding: 8px;
      font-size: 13px;
    }
    .th-input-icon {
      top: 10px;
    }
  }

  .th-input {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }

    outline: none;
    flex: 1;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    height: 100%;
    margin: 0;
    padding: 12px;
    background: $off-white;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: none;

    &::-ms-clear {
      display: none;
    }

    &.with-icon {
      padding-right: 32px;
    }

    &.with-prefix {
      border-radius: 0 4px 0 4px 0;
      border: 0;
    }

    &.with-postfix {
      border-radius: 4px 0 0 4px;
      border: 0;
    }

    &.with-prefix.with-postfix {
      border-radius: 0;
    }
  }

  .th-input-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    color: $grey-40;
  }

  .th-input-prefix,.th-input-postfix {
    color: $grey-60;
    font-weight: 400;
    background: $off-white;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
  }

  .th-input-prefix {
    border-right: 0; // hide border against <input>
    border-radius: 4px 0 0 4px;
  }

  .th-input-postfix {
    border-left: 0; // hide border against <input>
    border-radius: 0 4px 4px 0;
  }
}
