<span class="th-input-wrapper">
  <span ng-if="input.prefix" class="th-input-prefix">{{input.prefix}}</span>
  <input
    ng-model="input.model"
    class="th-input"
    ng-class="[{'with-icon': input.icon}, {'with-prefix': input.prefix}, {'with-postfix': input.postfix}]"
    id="{{input.id}}"
    type="{{input.type}}"
    name="{{input.name}}"
    value="{{input.value}}"
    placeholder="{{input.placeholder}}">

  <i ng-if="input.icon" class="th-input-icon fa fa-{{input.icon}}"></i>

  <span ng-if="input.postfix" class="th-input-postfix">{{input.postfix}}</span>
</span>