<span
  class="th-input-wrapper"
  ng-class="[
    {'is-invalid': input.isInvalid()},
    {condensed: input.condensed}
  ]"
  >
  <span ng-if="input.prefix" class="th-input-prefix">{{input.prefix}}</span>
  <input
    ng-model="input.ngModel"
    class="th-input"
    ng-class="[
      {'with-icon': input.icon},
      {'with-prefix': input.prefix},
      {'with-postfix': input.postfix},
      {'disabled': input.ngDisabled}
    ]"
    id="{{input.id}}"
    type="{{input.type}}"
    name="{{input.name}}"
    value="{{input.value}}"
    placeholder="{{input.placeholder}}"
    ng-required="input.ngRequired"
    ng-disabled="input.ngDisabled"
    ng-blur="input.ngBlur()"
    ng-keypress="input.ngKeypress"
    ng-minlength="input.ngMinlength"
    ng-maxlength="input.ngMaxlength"
    ng-pattern="input.ngPattern"
    ng-attr-min="{{input.min}}"
    ng-attr-max="{{input.max}}"
    ng-attr-step="{{input.step}}"
    >
  <i ng-if="input.icon" class="th-input-icon fa fa-{{input.icon}}"></i>
  <span ng-if="input.postfix" class="th-input-postfix">{{input.postfix}}</span>
</span>
